<header th:fragment="header">
    <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="" class="site_title">
                <!-- <i class="fa fa-paw"></i>  -->
                <!-- <span></span> -->
                <img alt="" th:src="@{/images/logo.png}"/>
              </a>
            </div>
            <div class="clearfix"></div>
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="images/img.jpg" alt="..." class="img-circle profile_img"/>
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2 th:text="${session.user != null ? session.user.cUserName : ''}"></h2>
              </div>
            </div>
            <br/>

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
			      <ul class="nav side-menu">
			        <li th:each="menu:${session.sys_menu}">
			          <a><i th:class="${'fa ' + menu.menuIcon}"></i><span th:text="${menu.menuName}"></span><span class="fa fa-chevron-down"></span></a>
			          <ul class="nav child_menu">
			              <li th:each="menu_child:${menu.subMenus}">
                          	<a th:href="${menu_child.menuUrl}">
                            	<span th:text="${menu_child.menuName}"></span>
                            </a>
                          </li>
			          </ul>
			        </li>
			      </ul>
			    </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="绯荤粺娑堟伅">
                <span class="glyphicon glyphicon-comment" aria-hidden="false"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="退出登录" href="/logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

    <!-- top navigation -->
   <div class="top_nav">
    <div class="nav_menu">
      <nav>
        <div class="nav toggle">
          <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="">
            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
             <!--  <img src="images/img.jpg" alt=""/> -->
              <label th:text="${session.user != null ? session.user.cUserName : ''}"></label>
              <span class=" fa fa-angle-down"></span>
            </a>
            <ul class="dropdown-menu dropdown-usermenu pull-right">
             <!--  <li><a href="javascript:;"> Profile</a></li>
              <li>
                <a href="javascript:;">
                  <span class="badge bg-red pull-right">50%</span>
                  <span>Settings</span>
                </a>
              </li>
              <li><a href="javascript:;">Help</a></li> -->
              <li><a id="logout" th:href="@{/logout}"><i class="fa fa-sign-out pull-right"></i> 退出</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>