<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="shortcut icon" href="favicon.ico"/>
<link rel="stylesheet" href="../layui/css/layui.css"  media="all">
<link rel="stylesheet" href="../article/css/article.css"  media="all">

<title>新闻管理</title>
<script src="../common/jquery-1.11.3.min.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="../layui/layui.js" charset="utf-8"></script>
<script src="../layer-v2.4/layer/layer.js"></script>
<script src="../common/filterAjax.js"></script>
<script src="../common/help.js"></script>
<script src="../swiper/dist/js/swiper.min.js"></script>
<script type="text/javascript" src="../fullpage/scrolloverflow.js"></script>
<script type="text/javascript" src="../fullpage/jquery.fullpage.js"></script>
<script src="../js/jquery.tmpl.min.js"></script>
<script src="../article/js/addArticle.js"></script>

</head>
<body>

	<div class="article-div">
		<div>
			<div class="type-name">文章标题</div>
		    <input type="text" id="article-title" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
		</div>
		<div class="article-content-div">
			<div class="type-name">文章内容</div>
			<div class="article-content">							
				<textarea class="layui-textarea" id="article-content" style="display: none"></textarea>
			</div>
		</div>
		<div class="save-div">
			<input type="button" value="保存" id="saveArticle" class="saveBtn">
		</div>	
	</div>
</body>
</html>